
main{
    width: 100%;
    
}

.contact-us{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    
    height: 500px;
    background-image: url(../images/contact-us-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.c-title{
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 6rem;
    line-height: 139px;
    /* identical to box height */
    color: var(--clr-white);
    flex-grow: 1;
    text-align: center;
}

.submit{
    width: 80%;
    height: 950px;
    margin : 40px auto;
    background-color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.submit-area{
   
    width: 50%;
    height: 90%;
}

.submit-sidebar{
   
    width: 30%;
    height: 90%;
}

form{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    
}

.form-group + .form-group{
    margin-top: 1em;
}

.form-group{
    width: 100%;
    
}
.form-group label{
    display: block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 35px;
    margin-bottom: .5em;
    /* identical to box height */
}

.form-group input{
    max-width: 350px;
    min-width: 300px;
    width: 50%;
    height: 50px;
    padding: 0em .8em;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    outline: none;
}


.form-group input.invalid{
    border: 1px solid red;
} 

.form-group input::placeholder{
    position: absolute;
    top: 8px;
}
.form-group .error-hint{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 35px;
    color: red;
}

hr{
    height: 3px;
    margin-top: 1.2em;
    margin-bottom: 2em;
    background-color: var(--clr-violet);
    border: none;
}

button{
   padding: .5em 1em;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.825rem;
    line-height: 43px;
    text-align: center;
    border: 2px solid var(--clr-violet);
    background: none;
    border-radius: 20px;
    

    color: #000;
    transition: all 0.3s ease;

}

button:hover{
    background-color: var(--clr-violet);
    color: #fff;

}

.hide{
    display: none;
}

textarea{
    min-width: 450px;
    height: 200px;
    padding: 0em .8em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    outline: none;
    appearance: none;
}

textarea::placeholder{
    font-family: 'Jost';
    font-style: normal;
    font-size: .9rem;
    position: absolute;
    top: 5px;
}
.thank-you{
    font-size: 2rem;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.submit-again{
   margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-title{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 43px;
    margin-bottom: .5em;
    width: 100%;
}

.s-content{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
    width: 80%;
    margin-bottom: .5em;
}

.sidebar-list-elements{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-links{
    text-decoration: none;
    color: #000;
}

.hide{
    display: none;
}
@media (max-width: 950px){
    .submit{
        flex-direction: column;
        min-height: 1200px;
        justify-content:space-between;
    }

    .submit-area{
        width: 80%;
        margin-top: 1em;
    }

    .submit-sidebar{
        margin-top: 5em;
        width: 80%;
    }

    textarea{
        min-width: 400px;
    }

 
}

@media (max-width:650px){
    textarea{
        min-width: 300px;
    }
}