footer{

    width: 100%;
    background: var(--clr-white);
    height: 573px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    width: 90%;
    height: 90%;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}

.footer-sec{
    
    display: flex;
    text-align: center;
    flex-direction: column;
}

.sec-title{
    margin-top: 1em;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    

    
}

.sec-elements{
    margin-top: 2em;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    list-style: none;
    
}

.footer-links{
    text-decoration: none;
    color: #000000;
}

.sec-icones{
    
    list-style: none;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.icone-links{
    
    
}

.fa-brands{
}

