

img{
    width: 6em;
    height: 6em;
}


*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--clr-violet);
    width: 100%;
    min-height: 100vh;

    overflow: hidden;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(88,0,255,1) 29%, rgba(233,0,255,1) 56%, rgba(255,255,255,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.wrapper{
    background-color: #fff;
    width: 500px;
    padding: 25px;
    min-height: 660px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper h2{
    background-color: #fcfcfc;
    color: var(--clr-violet);
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 19px;
    
    
}

h4{
    padding-bottom: 5px;
    color: var(--clr-violet);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    
}

p{
    padding-bottom: 5px;
    color: green;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
}

.green{
    margin-top: 3em;
    width:400px;
    height:400px;
}

.wrapper .seccsus{
    color: green;
    text-align: center;
}
.input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 13px 0;
}
.input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;
    
}
.input-box:last-child{
    margin-right: 0;
}
.name{
    padding: 14px 10px 14px 50px;
    width: 100%;
    
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
    font-family: 'Open Sans';
}
.name:focus, .dob:focus{
    -webkit-box-shadow:0 0 2px 1px var(--clr-violet);
    -moz-box-shadow:0 0 2px 1px var(--clr-violet);
    box-shadow: 0 0 2px 1px var(--clr-violet);
    border: 1px solid var(--clr-violet);
}
.input-box .icon{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    
    pointer-events: none;
    border: 1px solid #00000033;
    border-right: none;
}
.name:focus + .icon{
    background-color: var(--clr-violet);
    color: #fff;
    border-right: 1px solid var(--clr-violet);
    border: none;
    transition: 1s;
}
.dob{
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}
.radio{
    display: none;
}
.input-box label{
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
}
.input-box label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
.input-box label:last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.radio:checked + label{
    background-color: var(--clr-violet);
    color: #fff;
    transition: 0.5s;
}
.input-box select{
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}
.input-box select:focus{
    background-color: var(--clr-white);
    color: black !important;
    text-align: center;
    
}
button{
    width: 100%;
    background: transparent;
    border: none;
    background: var(--clr-violet);
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
    font-family: 'Jost';
}
button:hover{
    cursor: pointer;
    background: var(--clr-violet);
}




.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
}

.hide{
    display: none;
}

a{
    text-decoration: none;
    color: white !important;
}

.error-msg{
    width: max-content;
    font-size: var(--text-size-2);
    color: red;
  
    position: absolute;
    right: 0px;
    top: 100%;
    animation: error 6s infinite;

    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 19px;
    padding: .2em;
    transition: 
    top 0.3s ease;
    

}


select option {
    text-align: left;
}

